---
import Layout from "../../layouts/Layout.astro";
import ArticleCard from "../../components/ArticleCard.astro";

const posts = await Astro.glob("../post/*.md");
// TODO: optimize / remove duplicat params
export async function getStaticPaths() {
    const posts = await Astro.glob("../post/*.md");
    return posts.flatMap((post: any) =>
        post.frontmatter.tags.map((tag: any) => ({
            params: { tag: tag },
        }))
    );
}
console.log(await getStaticPaths());
const { tag } = Astro.params;
---

<Layout title={tag!} frontmatter={null}>
    <main>
        {tag}
        {
            posts
                .filter((post) => post.frontmatter.tags.includes(tag))
                .reverse()
                .map((post) => (
                    <ul role="list" class="link-card-grid">
                        <ArticleCard
                            href={post.url!}
                            title={post.frontmatter.title}
                            body={post.frontmatter.description}
                            tags={post.frontmatter.tags}
                        />
                    </ul>
                ))
        }
    </main>
</Layout>

<style>
    main {
        margin: auto;
        width: 100%;
    }
    .link-card-grid {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(24ch, 1fr));
        gap: 1rem;
        padding: 0;
    }
</style>
